@import "tailwindcss";

body {
  font-family: Inter, sans-serif;
}

html {
  font-size: 0.875rem;
}

@theme {
  --color-primary: #86A372;
  --color-muted: #F4F3F1;
  --color-muted-dark: #CFCFCF;
  --color-dark: #242424;
  --color-dark-gray: #393939;  
  --color-dark-light-gray: #5f5f5f;  
}

.hidden-scrollbar {
  overflow: auto;
  scrollbar-width: none; /* Для Firefox */
}

.hidden-scrollbar::-webkit-scrollbar {
  display: none; /* Для Chrome, Safari */
}

.loader {
  width: 70px;
  aspect-ratio: 2;
  background:
    radial-gradient(farthest-side,#FFF 90%,rgb(255, 255, 255, 0)) 0 0/8px 8px,
    linear-gradient(#5f5f5f 0 0) 100% 0/30px 10px,
    linear-gradient(#5f5f5f 0 0) 0 100%/30px 10px,
    repeating-linear-gradient(90deg,#5f5f5f 0 10px,rgb(255, 255, 255, 0) 0 30px);
  background-repeat: no-repeat;
  animation: l6 2s infinite;
}
@keyframes l6 {
  0%    {background-position:left 1px bottom 1px,100% 0,0 100%,0 0}
  12.5% {background-position:left 50% bottom 1px,100% 0,0 100%,0 0}
  25%   {background-position:left 50% top 1px,100% 0,0 100%,0 0}
  37.5% {background-position:right 1px top 1px,100% 0,0 100%,0 0}
  50%   {background-position:right 1px bottom 1px,0 0,100% 100%,0 0}
  62.5% {background-position:right 50% bottom 1px,0 0,100% 100%,0 0}
  75%   {background-position:right 50% top 1px,0 0,100% 100%,0 0}
  87.5% {background-position:left 1px top 1px,0 0,100% 100%,0 0}
  100%  {background-position:left 1px bottom 1px,100% 0,0 100%,0 0}
}

input[type=range]::-webkit-slider-runnable-track {
  background-color: black;
}

.no-spinner {
  -moz-appearance: textfield; /* Firefox */
  appearance: textfield;
}

/* Убираем стрелки в Chrome, Safari */
.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}